<nav>
    <div class="siteTitle">
        <a href="/">
            <h1>Heather's Blog</h1>
        </a>
        <p> a site by Heather</p>
    </div>
    <ul id="nav-page-links">
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>