<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>


    <div class="about content">
        <h2> About Me </h2>

        <h3 class="aboutMeTitle">Career Story</h3>

        <p> I went to school to be a musician and teacher. I have a Bachelor of Music degree in Music Education from the
            University of North Dakota and a Master of Music in Percussion Performance from the University of Denver. I
            have
            a few years of teaching under my belt, as well as, am an active freelance musician in the Salt Lake City
            valley.</p>
        <br>
        <p> My most recent teaching experience was not a positive one. My administration did not trust my expertise in
            music
            education and ultimately never had the best interest of the students in mind. I felt like the administration
            was
            always on me for things they knew nothing about and never saw my achievements like creating a "Music in the
            Halls" Program and doubling the numbers in my program over the past year I had been there. Then the pandemic
            hit. For 4 months (March -June) the principal didn't get back to me on any issues. This left for a terrible
            experience navigating online learning and teaching music (a group and in person activity) through a
            computer.</p>
        <br>
        <p> With this unsupported experience, being underpaid, and the pandemic, I knew I needed to change careers. I
            love
            teaching and the students I work with, but the arts are underappreciated and teachers are underpaid.</p>
        <br>
        <p> For the last few years as I have been teaching, I have entertained the though of attending a coding
            bootcamp.
            Well, this pandemic sealed that fate for me. I started teaching myself to code in July of 2020. I now (in
            October 2020) have "Intro to Coding" and "Front-End Development" certificates. While studying for those
            certificates, I am also teaching myself other aspects of tech and coding that are very valuable to know on
            the
            backend of tech.</p>
        <br>
        While I love music and teacher, and hopefully will be able to play and teach in my free time, I am so excited to
        start a career in tech. I love that I can still be creative, problem solve, and collaborate just as I did in my
        music career. I am also positive my valuable experience as a successful teacher will not fail me in my new
        career!

        </hr>
        <h3 class="aboutMeTitle">Hobbies</h3>

        <p>Outside of music and coding I love various activities. In the warmer months, I enjoy mountain biking, road
            biking, hiking, going to the beach, and having outdoor bar-b-ques with my friends. In the winter months, I
            love skiing, playing hockey, and sledding. </p>
        <br>
        <p></p>
        <br>
        <p></p>
        <br>

        <h3 class="aboutMeTitle">Life Story</h3>

    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>